#map {
    height: 70%;
}
#info-box, #info-box * {
    height: 30%;
    padding: 0;
    margin: 0;
    border-top: solid 1px black;
}

#info-box.hidden {
    display: none;
}
#map.alone {
    height: 100%;
}


html, body, main {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}